<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31973790943-mhjj4u57loj2ijl6kale9ff3nkjb5ldq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31973790943-mhjj4u57loj2ijl6kale9ff3nkjb5ldq</string>
	<key>API_KEY</key>
	<string>AIzaSyBqXTNZ2o2aL0H0_qI-JfsY57vd4mYXkeg</string>
	<key>GCM_SENDER_ID</key>
	<string>31973790943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dv.minus-game</string>
	<key>PROJECT_ID</key>
	<string>minus-game</string>
	<key>STORAGE_BUCKET</key>
	<string>minus-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31973790943:ios:68e268b0770c6fc9e0c56a</string>
</dict>
</plist>